.filters-wrapper {
  justify-content: center;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-inline: 15px;
}

.filters-btn {
  color: aliceblue;
  background-color: inherit;
  padding: 0.3em 0.7em;
  font-size: 1.3rem;
  border-radius: 0.4em;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.filters-btn:is(:hover, :focus, .active) {
  box-shadow: 6px 5px 8px black, 10px 12px 15px rgba(0, 0, 0, 0.381),
    inset 2px 2px 5px rgba(202, 202, 202, 0.3);
  transform: scale(1.15);
}

.search-input-wrapper {
  padding: 1.5em;
  width: 220px;
  display: flex;
  position: relative;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-inline: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 100vh;
  transition: all 0.2s ease-in-out;
}

.search-input-wrapper:hover,
.search-input-wrapper:has(.search-input:focus) {
  box-shadow: 8px 5px 10px black, 15px 20px 8px rgba(0, 0, 0, 0.462),
    -1px -1px 2px rgba(255, 255, 255, 0.133);
}

.search-input-wrapper:hover .search-bar,
.search-bar:has(.search-input:focus) {
  opacity: 1;
}

.search-input-wrapper:hover .search-icon.left,
.search-input-wrapper:has(.search-bar .search-input:focus) .search-icon.left {
  rotate: -90deg;
  translate: -150px;
  opacity: 0;
}

.search-input-wrapper:hover .search-icon.right,
.search-input-wrapper:has(.search-bar .search-input:focus) .search-icon.right {
  rotate: 90deg;
  translate: 150px;
  opacity: 0;
}

.search-bar {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-inline: 5px;
  height: 35px;
  width: 85%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: inset 2px 3px 3px gray;
  transition: all 0.2s ease-in-out;
}

.search-erase {
  position: absolute;
  width: 9%;
  right: 7px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.search-erase.hidden {
  rotate: 90deg;
  scale: 0;
}

.search-input {
  position: absolute;
  font-family: nunito;
  font-weight: 600;
  font-size: 15px;
  padding: 0.4em;
  padding-inline: 0.7em;
  width: 90%;
  left: 0;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  border: none;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  width: 2.5em;
  transition: all 0.3s ease;
}

.search-icon.left {
  transform: rotatey(180deg);
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .search-icon {
    display: none;
  }
  .search-bar {
    opacity: 1;
  }
  .search-input-wrapper {
    box-shadow: 8px 5px 10px black, 15px 20px 8px rgba(0, 0, 0, 0.462),
      -1px -1px 2px rgba(255, 255, 255, 0.133);
    margin-bottom: 30px;
    padding: 2.5em;
  }
}
